@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");


html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  color: #333;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  font-family: "roboto";
  --primary-color: black;
  --secondary-color: #dcdcdc;
  --card-color: #eee9e9;
  
}
section {
  background-color: #dcdcdc;
}

header {
  background-color: #090505;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  padding-bottom: 0px;

}
.style{
  font-size: 2.5rem;
  font-style: italic;
}

.container_header img {
   margin-bottom: 15px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0%;
  margin-top: 15px;
  margin-left: 15px;
}
#logo__nome {
  color: #dcdcdc;
}

.banner {
  height: 100vh;
  width: 100vw;
  text-decoration: none;

}
.banner-explorar {
  width: 150px;
  height: 30px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  text-decoration: none;
}

.slide{
  width: 100vw;
  transition: .6s;
  }
  
  #slide1:checked ~ .s1 { 
      margin-left: 0;
  }
  
  #slide2:checked ~ .s1 { 
      margin-left: -100vw;
  }
  #slide3:checked ~ .s1 { 
      margin-left: -200vw;
  }
  #slide4:checked ~ .s1 { 
      margin-left: -300vw;
  }
  #slide5:checked ~ .s1 { 
      margin-left: -400vw;
  }
  #slide6:checked ~ .s1 { 
      margin-left: -500vw;
  }

  .slide img{
    width: 147%;
    object-fit: cover;
  }
  .slides{
      display: flex;
      height: 100%;
  }
  .content{
      height: 100vh;
      width: 100vw;
      display: flex;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
    
   
  }
  .navigation{
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%);
      display: flex;
  }
  .bar{
      width:70px;
      height:17px;
      border: 2px solid #fff;
      margin: 6px;
      border-radius: 5px;
      cursor: pointer;
      transition: .6s;
  }
  .bar:hover{
      background-color: #fff;
  }
  input{
      display: none;
  }

.title{
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  display: flex;
  justify-content: center;
  padding-top: 1.2rem;
}

.container-card {
  padding-bottom: 5vh;
  
}

.card-link {
  display: flex;
  justify-content: center;

  background: #33BB69;
  width: 60%;
  padding: 7px;
  border-radius: 5px;
}
.boton {
  background-color: #8b1a1a;
}
.card-body {
  display: flex;
  flex-direction: column;
}
.card-body button {
  background-color: #8b1a1a;
}
.card-body button:hover {
 
  transition: all .3s ease-in-out blue;
}

.card img {
  height: 100%;
}
.card {
  text-align: center;
}

footer {
  background: #171717;
}

.students {
  background: #171717;
  color: white;

  display: flex;
  justify-content: space-between;

  padding-top: 1rem;
}

.aluno h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  color: #dcdcdc;
}

.aluno p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
}

.aluno1 {
  margin: .5rem 0 0 1rem;
}

.aluno2 {
  margin: .5rem 0 0 1rem;
}

.aluno3 {
  margin: .5rem 0 0 1rem;
  margin-right: 1rem;
}

.developed {
  margin-top: .4rem;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.936);
  text-align: center;
}

.socials a {
  margin-right: .3rem;
}

@media screen and (max-width: 1000px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  

  .topBar nav ul li a {
   font-size: 0.5rem;
   flex-wrap: wrap;
   gap: 5px;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-right: 25px;
  }

  .style{
    font-size: 2rem;
    font-style: italic;
    margin-right: 70px;
    margin-top: 25px;
  }

  .students {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding-bottom: 0.5rem;
  
  }

  .students h1 {
    text-align: center;
  }
  .socials {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .aluno3 {
    margin-right: 0rem;
  }
  .developed {
    margin-top: 2rem;
  }

  .bar {
    width:50px;
    height:17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
  }

  .slide img{
    width: 355%;
    object-fit: cover;
  }

}
