* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    
  }

body {
    background-image: url(/Img/1072679.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}

header {
  background-color: #090505;
  color: whitesmoke;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  padding-bottom: 0px;

}
.style{
  font-size: 2.5rem;
  font-style: italic;
}

.container_header img {
   margin-bottom: 15px;
}


.logIn { 
    border-radius: 10px;
}

  .students {
    background: #171717;
    color: white;
    display: flex;
    justify-content: space-around;    
  }

  
  .aluno h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
  }
  
  .aluno p {
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
  }
  
  .aluno h1,
  .aluno p,
  .aluno .socials {
    margin: .4rem;
  }
  
  .aluno1 {
    margin: .5rem ;
  }
  
  .aluno2 {
    margin: .5rem ;
  }
  
  .aluno3 {
    margin: .5rem;
  }
  
  .developed {
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  

  footer {
    background-color: #171717;
    width: 105%;
  
  }
  @media screen and (max-width: 1000px) {

      .developed {
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
      }
      .aluno {
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
        width: 33%;
      }

      .aluno3 p {
        margin-top: 20px;
      }
      .style{
        font-size: 1.5rem;
        font-style: italic;
        margin-right: 100px;
      }


}